/*
/* Created by Filipe Pina
 * Specific styles of signin, register, component
 */
/*
 * General styles
 */

body, html{
	background-image: url(https://images.vexels.com/media/users/3/143002/preview2/27a3bbf481a62ea1f271d2243f370f18-dise-o-del-patr-n-de-la-copa-mundial-de-rusia-2018.jpg);

	background-position: center center;

	background-repeat: no-repeat;

	background-attachment: fixed;

	background-size: cover;

	background-color: #464646;
    height: 95%;
 	
 	font-family: 'Oxygen', sans-serif;
}

.main{
 	margin-top: 10px;
}

h1.title { 
	font-size: 50px;
	font-family: 'Passion One', cursive; 
	font-weight: 400;
	color:white; 
	margin-top: 7px; 
}

hr{
	width: 10%;
	color: #fff;
}

.form-group{
	margin-bottom: 15px;
}

label{
	margin-bottom: 15px;
}

input,
input::-webkit-input-placeholder {
    font-size: 11px;
    padding-top: 3px;
}

.main-login{
	border-radius: 15px;
	font-size: 18px;
 	background-color: #fff;
    /* shadows and rounded borders */
    background-color: rgba(216, 195, 195, 0.541);
    filter:brightness(0.9);

}

.main-center{
 	margin-top: 30px;
 	margin: 0 auto;
 	max-width: 500px;
    padding: 40px 40px;

}

.login-button{
	margin-top: 5px;
}

.login-register{
	font-size: 15px;
	text-align: center;
	color: FFFFFF; 
}